footer {
  background-color: #222222;
  text-align: center;
  padding: 0.5rem;
}

footer p {
  color: #fff;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
}

footer span {
  font-size: 1rem;
  color: #f47521;
}
